.aleft {
    text-align: left;
}

.aright {
    text-align: right;

}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(105,136,228,.5);
  }
  
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2653d4;
    border-color: #244ec9;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(105,136,228,.5);
  }
  
  .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
  }
  
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .btn:hover {
    color: #858796;
    text-decoration: none;
  }
  
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  .btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }
  
  @media (prefers-reduced-motion:reduce) {
    .btn {
      transition: none;
    }
  }
  
  
  